# List of people responsible for the code in this repository.
# For more information, see:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @nelsonghezzi

CODEOWNERS @nelsonghezzi